    <main>
      <br>
      <br>
      <br>
      <div class="rounded container px-4 py-5 bg-light" id="featured-3">
        <h2 class="pb-2 border-bottom">Jueguitos</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
          <div class="feature col">
            <div class="feature-icon bg-warning bg-gradient">
              <img class="bi me-2" width="50" height="50" src="../assets/horca.png" alt="" routerLink="/home">
            </div>
            <h2>Ahorcado</h2>
            <p>Adivina la palabra sin quedar ahorcado. Tienes 6 oportunidades para fallar</p>
            <a routerLink="/ahorcado" class="icon-link">
              Quiero jugar
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-warning bg-gradient">
              <img class="bi me-2" width="50" height="50" src="../assets/mano.png" alt="" routerLink="/home">
            </div>
            <h2>Mayor o menor</h2>
            <p>Suma puntos adivinando si la próxima carta será mayor o menor de la que se muestra.</p>
            <a routerLink="/mayor-menor" class="icon-link">
              Quiero jugar
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-warning bg-gradient">
              <img class="bi me-2" width="50" height="50" src="../assets/pregunta.png" alt="" routerLink="/home">
            </div>
            <h2>Preguntados</h2>
            <p>Suma puntos respondiendo correctamente a preguntas de cultura general.</p>
              <a routerLink="/preguntados" class="icon-link">
                Quiero jugar
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
              </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-warning bg-gradient">
              <img class="bi me-2" width="50" height="50" src="../assets/serpiente.png" alt="" routerLink="/home">
            </div>
            <h2>Serpiente</h2>
            <p>Eres una serpiente que se va haciendo grande. Sumas puntos con cada huevito que cazas. Te mueres cuando chocas contra ti misma.</p>
              <a routerLink="/serpiente" class="icon-link">
                Quiero jugar
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
              </a>
          </div>
        </div>
      </div>
    </main>      