<div class="container py-1">

<br>
<br>
<br>
    <div class="p-2 mb-2 bg-light rounded-3">
      <div class="container-fluid py-1">
        <div>
            <h1 class="display-4 fw-normal mx-auto text-center">Serpiente</h1>
            <p>
        </div>
      </div>
    </div>
    <div class="row align-items">
  
    <div class="col-md-12">
        <div class="h-100 p-5 bg-light border rounded-3">
            <div class="row align-items-md-stretch">
  
            <div class="col-md-6">
                <div class="cells" [ngStyle]="ngStyleCells">
                    <div class="cell" [ngStyle]="ngStyleCell(idx)" *ngFor="let cell of cells; let idx = index;"></div>
                </div>   
            </div>
            <div class="col-md-6">
                <br><br><br>
                <div>
                    Puntaje: {{this.snake.tail.length + 1 - 3}}
                </div>
                <div>
                    Tiempo de juego: {{this.time * this.timestep / 1000 | number:'1.0-0'}} s
                </div>
                <br>
                <div *ngIf="!this.paused && !this.dead">
                    <button type="button" style="width:40%" (click)="doTogglePause()" class="btn btn-warning">Pausar</button>
                </div>
                <div *ngIf="this.paused && !this.dead">
                    <button type="button" style="width:40%" (click)="doTogglePause()" class="btn btn-success">Continuar</button>
                </div>
                <br>
                <div *ngIf="this.dead">
                    <button type="button" style="width:40%" (click)="playAgain()" class="btn btn-success">Jugar de Nuevo</button>
                </div>
            </div>  
            </div>
        </div>
    </div>
    </div>
  
  </div>