<br><br>
<div class="rounded container bg-light px-4 py-3 my-5 text-center bg-light">
    <br>
    <img class="rounded d-block mx-auto mb-4" src={{this.srcFoto}} alt="" height="175" width="175">
    <h1 class="display-5 fw-bold">¡Hola!</h1>
    <div class="col-lg-6 mx-auto ">
      <p class="lead mb-4">Soy {{data.name}} y creé esta web de Jueguitos.<br> El nuevo jueguito todavía no pensé cómo será.</p>
      <p class="lead mb-4">{{data.location}}.<br>
      <a class="lead mb-4 bi bi-github" href="https://github.com/{{data.login}}"></a> </p>       
    </div>
</div>

