@import '~bootstrap-icons/font/bootstrap-icons.css';
@import 'simple-keyboard/build/css/index.css';


html,
body {
    background-size: auto;
    background-position: absolute; 
    background: url(assets/fondo.jpg);
}

